@page "/AddAdult"
@using Microsoft.AspNetCore.Components
@using global::Models
@using WebApplication.Data.Impl.Adults
@using System.IO
@using FileData
@inject IAdults AdultData
@inject NavigationManager NavigationManager
<h3>AddAdult</h3>
<EditForm Model="@newAdultItem" OnValidSubmit="@AddNewAdult">
    <DataAnnotationsValidator/> <ValidationSummary/>
    <div class="form-group">
        First Name:<br/> 
        <InputTextArea rows="1" @bind-Value="newAdultItem.firstName"/>
    </div>
    <div class="form-group">
        Last Name:<br/> 
        <InputTextArea rows="1" @bind-Value="newAdultItem.lastName"/>
    </div>
    <div class="form-group">
        Hair Color:<br/> 
        <InputTextArea rows="1" @bind-Value="newAdultItem.hairColor"/>
    </div>
    <div class="form-group">
        Eye Color:<br/> 
        <InputTextArea rows="1" @bind-Value="newAdultItem.eyeColor"/>
    </div>
    <div class="form-group">
        Age:<br/> 
        <InputNumber rows="1" @bind-Value="newAdultItem.age"/>
    </div>
    <div class="form-group">
        Weight:<br/> 
        <InputNumber rows="1" @bind-Value="newAdultItem.weight"/>
    </div>
    <div class="form-group">
        Height:<br/> 
        <InputNumber rows="1" @bind-Value="newAdultItem.height"/>
    </div>
    <div class="form-group">
        Sex:<br/> 
        <InputSelect rows="1" @bind-Value="newAdultItem.sex">
            <option>Non</option>
            <option>F</option>
            <option>M</option>
        </InputSelect>
    </div>
    <div class="form-group">
        Job Title:<br/> 
        <InputTextArea rows="1" @bind-Value="newAdultItem.jobTitle.jobTitle"/>
    </div>
    <div class="form-group">
        Job Salary:<br/> 
        <InputNumber rows="1" @bind-Value="newAdultItem.jobTitle.salary"/>
    </div>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Create</button>
    </p>
</EditForm>

@code {
    private Adult newAdultItem = new Adult();

    private void AddNewAdult()
    {
        AdultData.AddAdultAsync(newAdultItem);
        NavigationManager.NavigateTo("/Adults");
    }

}